.account{
    width: 300px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 4%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border-radius: 5px;
   gap: 10px;
}

    

.Name-tag{
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
}
.Name-tag h4::after {
    content: "";
    position: absolute;
    top: 30px;
    left:12%;
    width: 210px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.532);
    display: block;
}
.op-Account{
    width: 99%;
    height: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}
.inicio-RegistrerBut{
    width: 160px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    padding: 10px;
    justify-content: center;
    left: 55px;
    border: 2px solid var(--color3);
}.inicio-RegistrerBut:hover{
    background-color: var(--color3);
    color: white;
}
#idiomaStatus{
  position: relative;
  top: 20px;
  right: 30px;
}




#languageSelector{
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.076);
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    transition: 0.3s;
}
#languageSelector option{
    padding: 60px;
    font-size: 1.2em;
    height: 20px;
    border-radius: 1px;
}



.op-moreRegistrer{
    width: 200px;
    position: absolute;
    left: 40px;
    bottom: 10px;
    text-align: center;
}
@media(max-width: 868px) {

.account{
    right: 30%;
}
    
}
.efect{
    width: 99%;
    height: auto;
}