
* {
    font-family: "Poppins", sans-serif;
  }
  
  .contenedor-grande {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
  }
  
  .faq-container {
    width: 60%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .faq-title {
    font-weight: 600;
    cursor: pointer;
    padding: 20px;
    background: #6b5cff;
    color: white;
    border: none;
    text-align: center;
    font-size: 18px;
  }
  
  .faq-title:hover {
    background-color: rgba(234, 162, 252, 0.582);
    color: #181e4b;
  }
  
  .faq-container .faq-content {
    overflow: hidden;
    background-color: #181e4b;
    color: white;
    max-height: 0;
    opacity: 0;
    padding: 0 20px;
    transition: max-height 1s, opacity 1s, padding 1s;
    display: block;
  }
  
  
  .PQRS-container {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  #tipo-de-pqr {
    font-weight: 600;
    width: 20%;
    height: 40px; 
    text-align: center; 
    font-size: 16px;
    line-height: 1.5;
    color: #6b5cff;
    background-color: white;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, gray, #ccc); 
    background-position: right 20px top 18px, right 15px top 18px,
      right 2.5em bottom 0.4em; 
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border: 1px solid #999 ;
    border-radius: 4px; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none; 
    margin: 0; 
    outline: none; 
  }
  
  #tipo-de-pqr option{
    font-weight: 600;
    color: #6b5cff;
  }
  
  #tipo-de-pqr:hover {
    background-color: #ccc;
  }
  
  #tipo-de-pqr:active {
    box-shadow: 1px 1px 10px #6b5cff;
    background-color: white;
  }
  
  .email #correo{
    text-align: center;
    font-weight: 600;
    width: 20%;
    height: 40px; 
    color: #6b5cff;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #999;
    outline: none;
  }
  
  .email #correo:hover {
    background-color: #ccc;
  }
  
  .textareaForm {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  
  .textareaForm p{
    width: 90%;
    text-align: center !important;
    justify-content: center;
    margin: 6%;
  }
  
  .textareaForm .textarea-content{
    width: 80%;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #999;
    outline: none;
  }
  
  .textareaForm .textarea-content::placeholder{
    font-weight: 600;
    text-align: center !important;
    padding-top: 80px;
  }
  
  .enviar-button{
    width: 10%;
    height: 37px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #6b5cff;
    cursor: pointer;
  }
  
  .enviar-button:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  
  .enviar-button{
    transform: scale(1);
    transition: 1s;
  }
  