:root {
    --shadow1: 1px 2px 2px 1px rgba(0, 0, 0, 0.233);
    --total: black;
    --font1: 'Poppins', sans-serif;
    --hovers: rgb(192, 185, 255);
    --color1: #8d4494a6;
    --color2: rgb(40, 50, 128);
    --color3: #6B5CFF;
    --color4: rgba(234, 162, 252, 0.582);
    --color5: #DAD5FC;
    --color6: aliceblue;
    --color7: rgb(241, 239, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    font-family: var(--font1), sans-serif;
}

.Navegator-text {
    width: 99%;
    height: 40vh;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.Navegator-text img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -20;
    top: 0;
    left: 0;
    object-position: center center;
}


.CartGrande {
    display: flex;
    width: 99%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px;
  }
  .subcuadro {
    overflow: auto;
    margin: 20px;
    width: 50%;
    height: auto;
  }
  .listaProductos {
    font-size: large;
    width: 70%;  
  }
  .cartTotals {
    width: 30%;
    height: 400px;
    background-color:rgb(241,239,255);
}

.subcuadro::-webkit-scrollbar {
    width: 12px;
}

.subcuadro::-webkit-scrollbar-thumb {
    background-color: #6B5CFF;
    border-radius: 5px;
}

.subcuadro::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0)
}

.td1,
.td6{
    width: 1%;
}

.tr1{
    font-weight: bold;
    background-color: rgb(241,239,255);
}

.tabla{
    text-align: center;
}
.listaProductos table{
    margin: 0px auto;
    width: 100%;
    border-collapse: collapse;
}

.listaProductos td{
    margin: 0px auto;
    padding: 20px
}

.TablaImagen{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
}

.Basurero{
    cursor: pointer;
}

.cartTotalsTitle {
    display: flex;
    margin: 0;
    width: 100%;
    height: 25%;
    font-size: 35px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.subtotalCartTotals {
    margin: 0;
    width: 100%;  
    height: 40%;
}

.subtotalMini{
    padding: 30px;
    display: flex;
    margin: 0;
    width: 100%;  
    height: 50%;
}

.subtotalMiniText{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    width: 50%;
    height: 100%;
    font-size: larger;
    font-weight: bolder;
}

.subtotalMiniPrice{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    width: 50%;
    height: 100%;
}
.totalMini{
    padding: 30px;
    display: flex;
    margin: 0;
    width: 100%;  
    height: 50%;
}

.totalMiniText{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    width: 50%;
    height: 100%;
    font-weight: bolder;
    font-size: larger;
}

.totalMiniPrice{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    width: 50%;
    height: 100%;
}

.checkoutButton {
    display: flex;
    margin: 0;
    width: 100%;
    height: 35%;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}

.checkoutButoonYess{
    font-size: 22px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    padding: 18px;
    justify-content: center;
    border: 2px solid black;
    color: black;
}

.checkoutButoonYess:hover {
    border: 2px solid var(--color3);;
    background-color: var(--color3);
    color: white;
    cursor: pointer;
}

.checkoutButoonYess {
    text-decoration: none;
}

.botonMas{
    font-size: larger;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 2px solid black;
    color: black;
}

.botonMas:hover {
    border: 2px solid var(--color3);;
    background-color: var(--color3);
    color: white;
    cursor: pointer;
}

.botonMenos{
    font-size: larger;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 2px solid black;
    color: black;
}

.botonMenos:hover {
    border: 2px solid var(--color3);;
    background-color: var(--color3);
    color: white;
    cursor: pointer;
}

.sumaDeTodosLosSubTotales{
    font-weight: bolder;
}

.totalMiniPrice{
    font-weight: bolder;
    font-size: x-large;
}

.precioProducto,
.NombreProducto,
.subtotalMiniPrice{
    font-weight: lighter;
    color: rgb(137,137,137);
}

  
.tex-fot {
    width: 99%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.met-links {
    width: 100%;
    text-align: center;
    z-index: 20;
}

.flech{
    position: absolute;
    top: -6.2px;

}

.tex-fot h1 {
    font-size: 4em;
}

.nav {
    width: 99%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.icon-met {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redi-c {
    text-decoration: none;
    color: var(--total);
    position: relative;
}

.redi-c:hover {
    color: var(--color3);
}

.divMet-2 {
    width: 20%;
    font-size: calc(0.4em + 1vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.navar-2 {
    width: 20%;
    font-size: calc(0.4em + 1vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navar-2 h2 span {
    font-size: calc(0.2em + 1vh);
    color: rgba(0, 0, 0, 0.335);
}

.navar-2 h2 {
    font-size: calc(0.3em + 1vh);
}

@media screen and (max-width: 760px) {
    .botonMas,
    .botonMenos{
        max-width: 20px;
        width: 20px;
    }
    .CartGrande {
      flex-direction: column;
      padding: 0px;
      align-items: center;
    }
    .listaProductos, .cartTotals {
      width: 95%;
    }
    .Navegator-text img{
        margin: 0;
        padding: 0;
        left: unset;
    }
    .Navegator-text{
        height: 20vh;
        left: unset;
        width: 98%;
    }
}