:root {
    --shadow1: 1px 2px 2px 1px rgba(0, 0, 0, 0.233);
    --total: black;
    --font1: 'Poppins', sans-serif;
    --hovers: rgb(192, 185, 255);
    --color1: #8d4494a6;
    --color2: rgb(40, 50, 128);
    --color3: #6B5CFF;
    --color4: rgba(234, 162, 252, 0.582);
    --color5: #DAD5FC;
    --color6: aliceblue;
    --color7: rgb(241, 239, 255);
}


.Navegator-text {
    width: 99%;
    height: 40vh;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.Navegator-text img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -20;
    top: 0;
    left: 0;
    object-position: center center;
}


.CartGrande {
    display: flex;
    width: 99%;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0 auto;
    padding: 80px;
  }
  .subcuadro {
    margin: 20px;
    width: 50%;
    height: auto;
    border: 1px solid black;
  }
  .listaProductos {
    width: 70%;  
  }
  .cartTotals {
    width: 30%;
    height: 400px;
}

.td1,
.td6{
    width: 1%;
}

.tr1{
    font-weight: bold;
}

.tabla{
    text-align: center;
}
.listaProductos table{
    margin: 0px auto;
    width: 100%;
    border-collapse: collapse;
}

.listaProductos td{
    margin: 0px auto;
    border: 1px solid black;
    padding: 20px
}

.TablaImagen{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
}

.Basurero{
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .CartGrande {
      flex-direction: column;
    }
    .listaProductos, .cartTotals {
      width: 100%;
    }
  }
  
  
.tex-fot {
    width: 99%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.met-links {
    width: 100%;
    text-align: center;
    z-index: 20;
}

.flech{
    position: absolute;
    top: -6.2px;

}

.tex-fot h1 {
    font-size: 4em;
}

.nav {
    width: 99%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.icon-met {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redi-c {
    text-decoration: none;
    color: var(--total);
    position: relative;
}

.redi-c:hover {
    color: var(--color3);
}

.divMet-2 {
    width: 20%;
    font-size: calc(0.4em + 1vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.navar-2 {
    width: 20%;
    font-size: calc(0.4em + 1vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navar-2 h2 span {
    font-size: calc(0.2em + 1vh);
    color: rgba(0, 0, 0, 0.335);
}

.navar-2 h2 {
    font-size: calc(0.3em + 1vh);
}